<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hola, <%= @atleta.name %></h1>
<p>
  Se ha generado una nueva contraseña temporal: <strong><%= @atleta.password %></strong>
</p>

<p>Gracias por formar parte de AlexAzo Sports Coaching!</p>
</body>
</html>