Bienvenido a la Plataforma Digital de Entrenamiento de AlexAzo Sports Coaching, <%= @atleta.name %>

Su contraseña de acceso temporal es: <%= @atleta.password %>

Puede descargar la aplicación:

Android: <%= @urlAndroid %>

iOS: <%= @urliOS %>

Gracias por formar parte de la AlexAzo Sports Coaching!