<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bienvenido a la Plataforma Digital de Entrenamiento de AlexAzo Sports Coaching, <%= @atleta.name %></h1>
<p>
  Su contraseña de acceso temporal es: <strong><%= @atleta.password %></strong>
</p>
<p>
  Puede descargar la aplicación en los siguientes enlaces:
</p>
<p><a href="<%= @urliOS %>">iOS</a></p>
<p><a href="<%= @urlAndroid %>">Android</a></p>
<p>Gracias por formar parte de AlexAzo Sports Coaching!</p>
</body>
</html>