
$(".submit").on("click", function () {
    $("#atletasForm").submit();
});


$('#tableAtletas').DataTable( {
    "columnDefs": [
        { "width": "15%", "targets": 0 },
        { "width": "40%", "targets": 1 },
        { "width": "20%", "targets": 2 },
        { "width": "25%", "targets": 3 }
    ],
    "language": {
        "lengthMenu": "<%=I18n.t 'datatables.lengthMenu' %>",
        "zeroRecords": "<%=I18n.t 'datatables.zeroRecords' %>",
        "info": "<%=I18n.t 'datatables.info' %>",
        "infoEmpty": "<%=I18n.t 'datatables.infoEmpty' %>",
        "infoFiltered": "<%=I18n.t 'datatables.infoFiltered' %>",
        "paginate": {
            "first":      "<%=I18n.t 'datatables.paginate_first' %>",
            "last":       "<%=I18n.t 'datatables.paginate_last' %>",
            "next":       "<%=I18n.t 'datatables.paginate_next' %>",
            "previous":   "<%=I18n.t 'datatables.paginate_previous' %>"
        },
        "search":         "<%=I18n.t 'datatables.search' %>"
    }
} );