<%= form_for(@atleta, html: {class: 'form-horizontal',  id: 'atletasForm'}) do |f| %>

    <% if @atleta.errors.any? %>

        <div class="alert alert-danger alert-dismissable">
          <i class="fa fa-ban"></i>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <ul>
            <% @atleta.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>

    <% end %>

    <h4 class="page-header">Información General</h4>



    <div class="form-group">
      <%= f.label :cedula, :Cédula, class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.text_field :cedula, :autofocus => true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :first_name, :Nombre, class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.text_field :nombre, :autofocus => true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :apellidos, "Apellidos", class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.text_field :apellidos, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, 'Correo electr&oacute;nico'.html_safe, class: 'col-sm-3 control-label' %>
      <div class="col-sm-9">
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>

<% end %>
