<% title('Atletas') %>
<% description('Lista de atletas') %>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Listado de Atletas</h3>
        <div class="box-tools pull-right">
          <a class="btn btn-sm btn-primary" href="<%= new_atleta_path %>" role="button" title="Nuevo Atleta"> <i class="fa fa-plus"></i> <span class="hidden-xs">Nuevo Atleta</span></a>&nbsp;

        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table id="tableAtletas" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th>C&eacute;dula</th>
            <th>Nombre</th>
            <th>Equipo</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <% @atletas.each do |atleta| %>
              <tr>
                <td><%= atleta.cedula %></td>
                <td><%= link_to atleta.name, atleta_path(atleta) %></td>
                <td> equipo </td>
                <td><%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_atleta_path(atleta) %>
                  <% if current_user.admin? or current_user.superadmin? %>
                      <%= link_to '<i class="fa fa-remove"></i> Eliminar'.html_safe, atleta_path(atleta), method: :delete, data: {confirm: "Seguro que desea eliminar el caso #{atleta.name}?"} %>

                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
</div>
