<% title('Atletas') %>
<% description('Registrar Nuevo Atleta') %>

<div class="box">
  <div class="box-header with-border">
    <div class="btn-toolbar" role="toolbar" aria-label="">
      <a class="btn btn-default" href="<%= atletas_path %>" role="button" title="Regresar"> <i class="fa fa-arrow-left"></i></a>
      <a class="btn btn-primary submit" role="button" title="Guardar"> <i class="fa fa-save"></i> Guardar</a>
      <a class="btn btn-default" href="<%= atletas_path %>" role="button" title="Cancelar"> <i class="fa fa-times"> Cancelar</i></a>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-xs-12">
        <%= render 'form' %>
      </div><!-- /.col -->
    </div> <!-- /.row -->
  </div><!-- /.box-body -->
  <div class="box-footer">
    <a class="btn btn-primary submit" role="button" title="Guardar"> <i class="fa fa-save"></i> Guardar</a>
  </div>
</div><!-- /.box -->
