<% title("Médico #{@atleta.name}") %>
<% description('Detalle del Médico') %>

<div class="box">
  <div class="box-header with-border">
    <div class="btn-toolbar" role="toolbar" aria-label="">
      <a class="btn btn-default" href="<%= atletas_path%>" role="button" title="Regresar"> <i class="fa fa-arrow-left"></i></a>
      <a class="btn btn-default" href="<%= edit_atleta_path(@atleta)%>" role="button" title="Editar Atleta"> <i class="fa fa-edit"></i></a>
    </div>
    <div class="box-tools pull-right">
      1 de <%= @total%>
      <div class="btn-group">
        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
        <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
      </div><!-- /.btn-group -->
    </div><!-- /.pull-right -->
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-xs-12">

        <dl class="dl-horizontal">

          <dt>C&eacute;dula</dt>
          <dd><%= @atleta.cedula %></dd>

          <dt>Nombre</dt>
          <dd><%= @atleta.name %></dd>

          <dt>Correo Electr&oacute;nico</dt>
          <dd><%= @atleta.email %></dd>

          <dt>Fecha Nacimiento</dt>
          <dd><%= @atleta.fecha_nacimiento %></dd>

          <dt>Residencia</dt>
          <dd><%= @atleta.residencia%></dd>

          <dt>G&eacute;nero</dt>
          <dd><%= @atleta.genero%></dd>

          <dt>Tel&eacute;fono</dt>
          <dd><%= @atleta.telefono%></dd>

          <dt>Ocupaci&oacute;n</dt>
          <dd><%= @atleta.ocupacion%></dd>

          <dt>Contacto Emergencia</dt>
          <dd><%= @atleta.emergencia_nombre %></dd>

          <dt>Tel&eacute;fono Emergencia</dt>
          <dd><%= @atleta.emergencia_telefono%></dd>

        </dl>
      </div><!-- /.col -->
    </div> <!-- /.row -->
  </div><!-- /.box-body -->
</div><!-- /.box -->





