<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <!--<div class="user-panel">-->
    <!--<div class="pull-left image">-->
    <!--<img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image" />-->
    <!--</div>-->
    <!--<div class="pull-left info">-->
    <!--<p>Alexander Pierce</p>-->
    <!--&lt;!&ndash; Status &ndash;&gt;-->
    <!--<a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
    <!--</div>-->
    <!--</div>-->

    <!-- search form (Optional) -->
    <!--<form action="#" method="get" class="sidebar-form">-->
    <!--<div class="input-group">-->
    <!--<input type="text" name="q" class="form-control" placeholder="Search..."/>-->
    <!--<span class="input-group-btn">-->
    <!--<button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>-->
    <!--</span>-->
    <!--</div>-->
    <!--</form>-->
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">

      <li class="header">Menu</li>
      <!-- Optionally, you can add icons to the links -->
      <li
      <% if controller.controller_name == "home" %> class="active"
      <% end %> ><a href="<%= home_index_path %>"><i class='fa fa-home'></i> <span>Inicio</span></a></li>
      <li  <% if controller.controller_name == "atletas" %> class="active"
           <% end %> ><a href="<%= atletas_path %>"><i class='fa fa-child'></i> <span>Atletas</span></a></li>
      <li><a href="#"><i class='fa fa-calendar'></i> <span>Planes de Entrenamiento</span></a></li>
      <li><a href="#"><i class='fa fa-calendar'></i> <span>Entrenamientos Personales</span></a></li>

      <li class="header">Configuraci&oacute;n</li>
      <li><a href="#"><i class='fa fa-group'></i> <span>Equipos</span></a></li>
      <li><a href="#"><i class='fa fa-user'></i> <span>Usuarios</span></a></li>
      <!--<li><a href="#"><i class='fa fa-link'></i> <span>Another Link</span></a></li>-->
      <!--<li class="treeview">-->
      <!--<a href="#"><i class='fa fa-link'></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>-->
      <!--<ul class="treeview-menu">-->
      <!--<li><a href="#">Link in level 2</a></li>-->
      <!--<li><a href="#">Link in level 2</a></li>-->
      <!--</ul>-->
      <!--</li>-->

    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
